* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.code-wrapper {
    height: 50%;
    transition: all 0.3s;
}
#code {
    height: 100%;
    overflow: hidden;
}

.preview-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-wrapper .preview-wrapper-content {
    height: 165px;
    width: 100%;
}

.actions {
    position: absolute;
    right: 0;
    top: 0;
}

.actions > button {
    padding: 2px 8px;
    margin: 4px;
    /* background-color: white;
    border: 1px solid #ccc; */
    border-radius: 4px;
}
.actions-active {
    background-color: #FEE433;
}









































